<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
<link rel="stylesheet" media="all" type="text/css" href="style.css" />
<!-- ※デフォルトのスタイル（style.css） -->
<link rel="stylesheet" media="all" type="text/css" href="tablet.css" />
<!-- ※タブレット用のスタイル（tablet.css） -->
<link rel="stylesheet" media="all" type="text/css" href="smart.css" />
<!-- ※スマートフォン用のスタイル（smart.css） -->




<style type="text/css">
  body{
    width:100;
    word-break:normal;
  }
</style>
<script type="text/javascript">
function ChangeTab(tabname) {<!--
   // 全部消す
   document.getElementById('tab1').style.display = 'none';
   document.getElementById('tab2').style.display = 'none';
   document.getElementById('tab3').style.display = 'none';
   document.getElementById('tab4').style.display = 'none';
   document.getElementById('tab5').style.display = 'none';
   // 指定箇所のみ表示
   document.getElementById(tabname).style.display = 'block';
}
// --></script>
<script type="text/javascript">
//(function(){
// window.onresize=function(){
//  if(window.innerWidth>=800){
//   location.href="/calendar";
//  }
// };
//})();
function textarea_resize() {
    var t = document.getElementById("msgbody");// textarea
    var s = document.getElementById("hidden_span");// span
    s.innerHTML = t.value;
    t.style.width = s.offsetWidth + 40 + "px";// 40px余計に幅を取る。
}

$(function($){
  //Shiftキー+エンター
  $("#msgbody").keydown(function(e){
    if(e.shiftKey){
      if(e.keyCode === 13){
        //alert("shift+enter");
      }
    }else if(!e.shiftKey){
	if(e.keyCode === 13){
	  //alert("enter");
	  //document.chatform.send.click();
	  document.getElementById("chatform").send.click();
	}
      }
  });
});


function checkBoxCheck(btn){
	//alert("checkboxcheck");
	all_e=document.getElementById("0c"); 
	if(btn.value != "all" ){
		if(btn.checked==true){
			if(all_e.checked==true){
				all_e.checked=false;
			}
		}
	}
}
</script>

ようこそ
<% if @usr.attend.to_i == 0 %>
	<span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
	<%= session[:username] %>
	</span>
<% elsif @usr.attend.to_i%2 == 1 %>
	<span style="font-size:medium;background:#90EE90;border:outset;">
	<%= session[:username] %>
	</span>
<% else %>
	<span style="font-size:medium;background:#EEEE88;border:outset;">
	<%= session[:username] %>
	</span>
<% end %>
さん。
      あなたの所属は<%= session[:gn] %>班です。
      <br>
<div align="right"><a href="http://chat.al.kansai-u.ac.jp/inquiry" target="_blank">お問い合わせはこちら</a><br></div>
<div id="calendar-link" align="right" style="display:none" ><a href="http://chat.al.kansai-u.ac.jp/nochatcalendar">カレンダー画面へ</a></div>




<% usr_id = 0 %>
<br>
      宛先は？
<br>
<!-- 整列されたチェックボックス	-->
<form  id ="chatform" >

<input type="checkbox" id="<%= 0 %>c" name="<%= @member[0] %>" value="<%= 0 %>" checked><label for ="<%= 0 %>c"><%= @member[0] %></label>
<input type="checkbox" id="<%= 1 %>c" name="<%= @member[1] %>" value="<%= 1 %>" onClick="checkBoxCheck(this);" ><label for="<%= 1 %>c"><%= @member[1] %></label>
<input type="checkbox" id="<%= 2 %>c" name="<%= @member[2] %>" value="<%= 2 %>" onClick="checkBoxCheck(this);" ><label for="<%= 2 %>c"><%= @member[2] %></label>
<input type="checkbox" id="<%= 3 %>c" name="<%= @member[3] %>" value="<%= 3 %>" onClick="checkBoxCheck(this);" ><label for="<%= 3 %>c"><%= @member[3] %></label>
<br>
<% i=4 %>
<% @users.each do |user| %>
	<% if user.roles == "その他" %>
		<% if user.username == @usr.username %>
                        <% usr_id = i %>
			<% i+=1 %>
		<% elsif user.username == "榎原" %>
			<% if user.attend.to_i == 0 %>
                                <span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
                                <input type="checkbox" id="<%= 4 %>c" name="<%= user.username %>" value="<%= 4 %>" onClick="checkBoxCheck(this);">
				<label for="<%=4  %>c"><%= user.username %>先生</label>
                                </span>
                        <% elsif user.attend.to_i%2 == 1 %>
                                <span style="font-size:medium;background:#90EE90;border:outset;">
                                <input type="checkbox" id="<%= 4 %>c" name="<%= user.username %>" value="<%= 4 %>" onClick="checkBoxCheck(this);">
				<label for="<%=4  %>c"><%= user.username %>先生</label>
                                </span>
                        <% else %>
                                <span style="font-size:medium;background:#EEEE88;border:outset;">
                                <input type="checkbox" id="<%= 4 %>c" name="<%= user.username %>" value="<%= 4 %>" onClick="checkBoxCheck(this);">
				<label for="<%=4  %>c"><%= user.username %>先生</label>
                                </span>
                        <% end %>
			<% i+=1 %>
		<% elsif user.username == "松﨑" %>
			<% if user.attend.to_i == 0 %>
                                <span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
                                <input type="checkbox" id="<%= 5 %>c" name="<%= user.username %>" value="<%= 5 %>" onClick="checkBoxCheck(this);">
				<label for="<%=5  %>c"><%= user.username %></label>
                                </span>
                        <% elsif user.attend.to_i%2 == 1 %>
                                <span style="font-size:medium;background:#90EE90;border:outset;">
                                <input type="checkbox" id="<%= 5 %>c" name="<%= user.username %>" value="<%= 5 %>" onClick="checkBoxCheck(this);">
				<label for="<%=5  %>c"><%= user.username %></label>
                                </span>
                        <% else %>
                                <span style="font-size:medium;background:#EEEE88;border:outset;">
                                <input type="checkbox" id="<%= 5 %>c" name="<%= user.username %>" value="<%= 5 %>" onClick="checkBoxCheck(this);">
				<label for="<%=5  %>c"><%= user.username %></label>
                                </span>
                        <% end %>
			<% i+=1 %>
		<% elsif user.username == "于" %>
			<% if user.attend.to_i == 0 %>
                                <span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
                                <input type="checkbox" id="<%= 6 %>c" name="<%= user.username %>" value="<%= 6 %>" onClick="checkBoxCheck(this);">
				<label for="<%=6  %>c"><%= user.username %></label>
                                </span>
                        <% elsif user.attend.to_i%2 == 1 %>
                                <span style="font-size:medium;background:#90EE90;border:outset;">
                                <input type="checkbox" id="<%= 6 %>c" name="<%= user.username %>" value="<%= 6 %>" onClick="checkBoxCheck(this);">
				<label for="<%=6  %>c"><%= user.username %></label>
                                </span>
                        <% else %>
                                <span style="font-size:medium;background:#EEEE88;border:outset;">
                                <input type="checkbox" id="<%= 6 %>c" name="<%= user.username %>" value="<%= 6 %>" onClick="checkBoxCheck(this);">
				<label for="<%=6  %>c"><%= user.username %></label>
                                </span>
                        <% end %>
			<% i+=1 %>
		<% end %>
	<% end %>
<% end %>
<br>
<% i=7 %>
<% @users.each do |user| %>
	<% if user.roles == "grid班" %>
		 <% if user.username != @usr.username %>
			<% if user.attend.to_i == 0 %>
				<span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
				<input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
				</span>
			<% elsif user.attend.to_i%2 == 1 %>
				<span style="font-size:medium;background:#90EE90;border:outset;">
				<input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
				</span>
			<% else %>
				<span style="font-size:medium;background:#EEEE88;border:outset;">
				<input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
				</span>
			<% end %>
		<% elsif user.username == @usr.username %>
			<% usr_id = i  %>
		<% end %>
		<% i += 1 %>
	<% end %>
<% end %>
<br>
<% @users.each do |user| %>
	<% if user.roles == "net班" %>
		 <% if user.username != @usr.username %>
                        <% if user.attend.to_i == 0 %>
                                <span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
                                <input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
                                </span>
                        <% elsif user.attend.to_i%2 == 1 %>
                                <span style="font-size:medium;background:#90EE90;border:outset;">
                                <input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
                                </span>
                        <% else %>
                                <span style="font-size:medium;background:#EEEE88;border:outset;">
                                <input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
                                </span>
                        <% end %>
		<% elsif user.username == @usr.username %>
			<% usr_id = i  %>
                <% end %>
		<% i += 1 %>
        <% end %>
<% end %>
<br>
<% @users.each do |user| %>
	<% if user.roles == "web班" %>
		 <% if user.username != @usr.username %>
                        <% if user.attend.to_i == 0 %>
                                <span style="line-height:1.5; font-size:medium;background:#FA8072;border:outset;">
                                <input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
                                </span>
                        <% elsif user.attend.to_i%2 == 1 %>
                                <span style="font-size:medium;background:#90EE90;border:outset;">
                                <input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
                                </span>
                        <% else %>
                                <span style="font-size:medium;background:#EEEE88;border:outset;">
                                <input type="checkbox" id="<%= i %>c" name="<%= user.username %>" value="<%= i %>" onClick="checkBoxCheck(this);">
				<label for="<%=i  %>c"><%= user.username %></label>
                                </span>
                        <% end %>
		<% elsif user.username == @usr.username %>
			<% usr_id = i  %>
                <% end %>
		<% i+= 1 %>
        <% end %>
<% end %>
<br>

      <input type="hidden" id="membercount" value="<%= i %>" >
      <div>
          <input type="hidden" class="form-control" id="username" value="<%= session[:username] %>">
          <input type="hidden" class="form-control" id="group_id" value="<%= session[:gid] %>">
          <input type="hidden" class="form-control" id="group_name" value="<%= session[:gn] %>">
          <input type="hidden" id="user_id" value="<%= usr_id %>">
      </div>
      <div>
          <textarea  class="form-control" id="msgbody" placeholder="ここにコメントを書いて下さい" onKeyPress="textarea_resize();" onkeyup="textarea_resize();" onblur="textarea_resize();" style="width:40; height:10 font-size: 13px; font-family: Arial; font-style: normal; overflow:auto"></textarea>
	  <span id="hidden_span" style="font-size: 13px; font-family: Arial; font-style: normal; background-color:orange; visibility:hidden;" ></span><br>
          <input type="button" class="btn btn-primary" id="send" value="送信"  ></button>
      </div>
  </form>

  <div class="tabbox">
    <p class="tabs">
    <a href="#tab1" class="tab1" onclick="ChangeTab('tab1'); return false;">全体</a>
    <a href="#tab2" class="tab2" onclick="ChangeTab('tab2'); return false;">個人</a>
    <a href="#tab3" class="tab3" onclick="ChangeTab('tab3'); return false;">検索</a>
    <a href="#tab4" class="tab4" onclick="ChangeTab('tab4'); return false;">会話</a>
    <a href="#tab5" class="tab5" onclick="ChangeTab('tab5'); return false;">消去</a>
    </p>
   <div id="tab1" class="tab">
     <p><div id="allchat" class="well" data-uri="<%= request.host %>:3000/websocket"></div></p>
     <div id="loadMessage"></div>
     <input type="button" id="loadbtn" value="次の20件を追加">
   </div>
   <div id="tab2" class="tab">
     <p><div id="personalchat" class="well" data-uri="<%= request.host %>:3000/websocket"></div></p>
   </div>
   <div id="tab3" class="tab">
     <p><div id="find" class="well" data-uri="<%= request.host %>:3000/websocket"></div></p>
     <span class="search_option"><input type="radio" name="r1" id="sender" value="1" ><label for="sender">送信者名に</label></span>
     <span class="search_option"><input type="radio" name="r1" id="time" value="1" ><label for="time">送信日時に</label></span>
     <span class="search_option"><input type="radio" name="r1" id="content" value="1" ><label for="content">内容に</label></span>
     <br><br>
     <input type="text" id="findword"  size="30" >を含む
     <input type="button" id="findbtn"  value="検索">
     <input type="button" id="findclear" value="クリア" >
     <div id="foundMessages"></div>
   </div>
  
   <div id="tab4" class="tab">
   <p><div id="find" class="well" data-uri="<%= request.host %>:3000/websocket"></div></p>
   チェックされている者との会話を表示する->
   <input type="button" id="talk"  value="会話を表示">
   </div>

   <div id="tab5" class="tab">
   <% j=0  %>
   <% @tweets.each do |message| %>
	<% i=0 %>
	<% destname="" %>
	<% message[:sflag].each do |sflag| %>
		<% if sflag == true  %>
			<% destname="#{destname}" + "#{@members[i]}" %>
		<% end %>
		<% i+=1 %>
	<% end %>
        <div class="removelist" id="remove<%= j %>"  >
		<div class ="dest" >
			to <%= destname %>	
			<%= message[:Now]  %>		
		</div>
		<% msg = message[:body].split("<br>") %>
		<% k=1  %>
		<% len=msg.length %>
		<% msg.each do |msg| %>
			<% if k == len %>
				<%= msg %>	
			<% else %>
				<%= msg %><br>
			<% end %>
			<% k+=1 %>
		<% end %>
		<br>
		<%= form_for @data,:url=>{:action=>'removetweet'} do |f| %>
			<input type="hidden" name="rmmsgbody"  value="<%= message %>" >
			<input type="submit" id="rmbtn"   value="このメッセージを消去">
		<% end %>
	</div>
   	<% j+=1  %>
   <% end %>
   </div>
 </div>
 <script type="text/javascript"><!--
   // デフォルトのタブを選択
   ChangeTab('tab1');
// --></script>

  <script type="text/javascript">
	if(screen.width < 650){
		document.getElementById('calendar-link').style.display='';
	}
		
  </script>
  <script type="text/javascript">
  function submitStop(e,sendbuttonid){
      //alert("全体に返信にてエンターが押されました");
      if (!e) var e = window.event;

      if(e.keyCode == 13){
          //alert(sendbuttonid);
          //json=JSON.stringify(document.getElementById(sendbuttonid));
          //alert(json);
          document.getElementById(sendbuttonid).response.click();          
          return false;
        }
  }

  function setvalue(svalue,btn){
    var find = document.getElementById('personalchat');
    var find2 = document.getElementById('allchat');
    var findli = find.children;
    var findli2 = find2.children;
    for (var i = 0; i < findli.length; i++){
       findli[i].onclick = function(){
         window.onnum = svalue;
       }
    }
    for (var i = 0; i < findli2.length; i++){
       findli2[i].onclick = function(){
           window.onnum = svalue;
       }
    }
    if(btn.value=="了解"){
       btn.value="了解済み";
    }
  }

</script>
